body {
  overscroll-behavior-x: contain;
}

.ruuri-draggable-item {
  min-width: 100%;
}

.draggableHeader {
  cursor: grab;
}
.muuri-item-dragging .draggableHeader {
  cursor: grabbing;
}

/* to retain scroll position on rerender */
.ruuri-draggable-grid {
  height: calc(1px / 0);
}
