body {
  overscroll-behavior-x: contain;
  overscroll-behavior-y: contain;
}

.ruuri-draggable-item {
  min-width: 100%;
}

.draggableHeader {
  cursor: grab;
}
.muuri-item-dragging .draggableHeader {
  cursor: grabbing;
}

:root {
  --focus-border: rgba(0, 0, 0, 1);
}
